# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask / Web specific
instance/
.flaskenv

# Database file
booking_bengkel.db

# Uploaded files (penting agar foto user tidak ikut terupload)
static/profile_pics/
static/cover_pics/

# Dependency list (ini biasanya di track, jadi jangan dihapus dari sini)
# requirements.txt